<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:replace="fragments/header :: header">
        <title>Layout</title>
    </head>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">

            <!-- Navbar -->
            <nav th:replace="fragments/navbar :: navbar"></nav>
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <aside th:replace="fragments/sidebar :: sidebar"></aside>
            <!-- /.sidebar-->

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <div layout:fragment="content"></div>
            </div>
            <!-- /.content-wrapper -->

            <!-- Control Sidebar -->
            <aside th:replace="fragments/control-sidebar :: control-sidebar"></aside>
            <!-- /.control-sidebar -->

            <!-- Main Footer -->
            <footer th:replace="fragments/footer :: footer"></footer>
            <!-- /.footer -->

        </div>
        <!-- ./wrapper -->
    </body>
</html>
